Django==1.8.5
decorator==4.0.4
django-extensions==1.5.9
flake8==2.4.1
ipython==4.0.0
ipython-genutils==0.1.0
mccabe==0.3.1
path.py==8.1.2
pep8==1.5.7
pickleshare==0.5
pyflakes==0.8.1
pyreadline==2.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
