body {
    background: url(img/bg.jpg) no-repeat center center fixed;
    margin-top: 0; /* Убираем отступы */
    background-size: auto; /* Фон занимает всю доступную площадь */
    position: relative;
}

.logo {
    margin-top: 25px;
}

.search{
    margin-top: 30px;
    margin-right: 30px;
}

.search a{
    font-size: 12pt;
    margin-left: 5px;
    color: #ffffff;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 25px;
}

.login {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}

.login p {
    font-size: 12px;
}

.bucket {
    color: #ffffff;
    background: #2a6c9a;
    width: 160px;
    border-radius: 0;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.bucket:hover {
    color: #FFFFFF;
    background: #3795d0;
}

.footer {
    color: #ffffff;
    margin-top: 150px;
    font-size: 16px;
    text-align: center;
}