{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Библиотека{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
