<!DOCTYPE html>
<html>
<head>
    <title>Ваш список книг</title>
</head>
<body>
    {%  if books %}
        {% for book in books %}
            {% if book.dateReturned == null or  book.dateReturned != null and book.fine > 0 and  not book.isFinePaid %}
                {% if book.dateReturned != null and book.fine > 0 and  not book.isFinePaid %}
                    <div style="color: red;">Книга в библиотеке, но задолженность не погашена:</div>
                {% endif %}
                <li>{{ book.bookItem.book.author }} - {{ book.bookItem.book.name }}
                (Издательство - {{ book.bookItem.book.publisher }},
                год издания - {{ book.bookItem.book.year }})</li>
                Сроки:
                <br>
                {{ book.dateTaken }} - {{ book.dateDue }}
                {% if book.fine > 0 and not book.isFinePaid %}
                    <div style="color: red;">Задолженность за книгу:
                        {{ book.fine }} руб.</div>
                {% endif %}
                <br><br>
            {% endif %}
        {% endfor %}
        <div style="color: red;">Суммарная задолженность: {{ total_fine }}</div>
        <br>
    {% else %}
        <p>У вас сейчас нет книг</p>
    {% endif %}
    <a href="../index">Вернуться на домашнюю страницу</a>
</body>
</html>