{% extends "base.html" %}
{% block title %}Ваш список книг{% endblock %}
{% block content %}
    {%  if books %}
        {% for book_i in books %}
            {% if book_i.date_returned == null or  book_i.date_returned != null and book_i.fine > 0 and  not book_i.is_fine_paid %}
                {% if book_i.date_returned != null and book_i.fine > 0 and  not book_i.is_fine_paid %}
                    <div style="color: red;">Книга в библиотеке, но задолженность не погашена:</div>
                {% endif %}
                <li>{{ book_i.book_item.book.author }} - {{ book_i.book_item.book.name }}
                (Издательство - {{ book_i.book_item.book.publisher }},
                год издания - {{ book_i.book_item.book.year }})</li>
                Сроки:
                <br>
                {{ book_i.date_taken }} - {{ book_i.date_due }}
                {% if book_i.fine > 0 and not book_i.is_fine_paid %}
                    <div style="color: red;">Задолженность за книгу:
                        {{ book_i.fine }} руб.</div>
                {% endif %}
                <br><br>
            {% endif %}
        {% endfor %}
        <div style="color: red;">Суммарная задолженность: {{ total_fine }} руб.</div>
        <br>
    {% else %}
        <p>У вас сейчас нет книг</p>
    {% endif %}
    <a href="../index">Вернуться на домашнюю страницу</a>
{% endblock %}