{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

            <div class="header">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-center">
                            <a href="../index"><img src="{% static "img/logo.png" %}" class="logo"></a>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="search">
                                <img src="{% static "img/search.png" %}"><a href="../search">Поиск книги</a>
                            </div>
                        </div>

                    </div>

                    <div class="title">
                        <h1>ТОМСКАЯ БИБЛИОТЕКА<br>ИМЕНИ А.П.ЧЕХОВА</h1>
                    </div>

    {% if user.is_authenticated %}

                            <div class="user">
                                Здравствуйте, {{ user.first_name }}<br>
                                <a href="/change_pass" class="btn bucket">Сменить пароль</a><br>
                                <a href="/book_list" class="btn bucket">Список книг</a><br>
                                <h5><a href="../logout">Выйти</a></h5>
                            </div>

    {% else %}

                    <div class="login">
                        Перед началом работы в системе<br>войдите в свой аккаунт
                        <br>
                        <a href="/login" class="btn bucket">Пользователь</a>
                        <a href="/admin" class="btn bucket">Администратор</a>
                    </div>

                </div>
        </div>
    {% endif %}


{% endblock %}