{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Здравствуйте, {{ user.first_name }}</p>
        <p>Для того, чтобы сменить пароль, перейдите по <a href="/change_pass">ссылке</a></p>
        <p>Чтобы просмотреть список ваших книг, перейдите по <a href="/book_list">ссылке</a></p>
        <a href="../logout">Выйти</a>
    {% else %}
        <p>Добро пожаловать на главную страницу библиотеки</p>
        <br>
        <a href="/login">Войти как пользователь</a>
        <br>
        <a href="/admin">Войти как администратор</a>
    {% endif %}
    <p>Чтобы найти книгу, воспользуйтесь <a href="../search">поиском</a></p>
{% endblock %}